@if (isLoading) {
    <div class="h-screen flex justify-center items-center ">
        <div class="loader"></div>
    </div>
}
@else {
    <section class="container">
        <h1 class="text-main text-5xl text-center font-semibold my-5">All Brands</h1>
        <div class="flex flex-wrap py-5">
         @for (b of allBrands; track $index) {
            <div class="md: w-3/12 text-center p-4">
                <div class="product border border-gray-200 rounded-lg cursor-pointer">
                    <img [src]="b.image" class="w-full rounded-lg" [alt]="b.slug">
                <p class="text-2xl text-main my-5">{{b.name}}</p>
                </div>
            </div>
         }
        </div>
    </section>
}
