
    <section class="w-3/4 py-20 mx-auto">
        <h2 class="text-2xl font-bold py-5">New password : </h2>
        <form [formGroup]="newPasswordForm">
            <div class="py-2">
                <label class="text-xl font-semibold">email :</label>
                <input formControlName="email" type="email" class="rounded w-full p-1">
            </div>
    
            <div class="py-2">
                <label class="text-xl font-semibold">New Password :</label>
                <input formControlName="newPassword" type="password" class="rounded w-full p-1">
                @if (newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
                <div class="alert-danger">
                    @if (newPasswordForm.get('newPassword')?.errors?.['required']) {
                    <p class="p-1">password is required !</p>
                    }@else if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
                    <p class="p-1">password must start with capital character and at least 9 character and numbers.</p>
                    }
                </div>
                }
    
            </div>
            @if (isLoading)
             {
                <button class="bg-main rounded p-1 text-white ms-auto block my-1"><i class="fa fa-span fa-spinner"></i></button>
            }@else 
            {
                <button class="bg-main rounded p-1 text-white ms-auto block my-1">Submit</button>
            }
        </form>
    </section>
