@if (isLoading) {
    <div class="flex justify-center items-center py-10">
        <div class="loader"></div>
    </div>
}@else {
<section>
    <h2 class="text-xl">Shop Popular Categories</h2>
    <owl-carousel-o [options]="customOptions">
  
      @for (category of categoryList; track $index) {
        <ng-template carouselSlide [id]="category._id">
            <img [src]="category.image" [alt]="category.name">
            <p>{{category.name}}</p>
          </ng-template>
      }
    </owl-carousel-o>
</section>
}




