@if (forgetPasswordFlag) {
    <section>
        <div class="w-3/4 mx-auto py-28">
            @if (errMsg) {
                <div class="alert-danger">
                    <p>{{errMsg}}</p>
                </div>
            }
            <h2 class="text-2xl font-semibold py-5">Confirm Email :</h2>
            <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
                <label>email :</label>
                <input formControlName="email" type="email" class="rounded w-full">
                @if (emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
                    <div class="alert-danger">
                        @if (emailForm.get('email')?.errors?.['required']) {
                            <p class="p-1">email is reguired</p>
                        }
                        @else if (emailForm.get('email')?.errors?.['email']) {
                        <p class="p-1">email is not valid(for EX : name&#64;gmail.com)</p>
                        }
                    </div>
                }
                
                @if (isLoading) {
                    <button class="bg-main rounded p-2 text-white block ms-auto my-5"><span><i class="fa fa-span fa-spinner"></i></span></button>
                }@else {
                    <button [disabled]="emailForm.invalid" class="bg-main rounded p-2 text-white block ms-auto my-5">send email</button>
                }
            </form>
        </div>
    </section>
}

@if (resetCodeFlag) {
    <app-reset-code></app-reset-code>
}
